<!DOCTYPE html>
<html>
<head>
  <title>Museums!</title>
  <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css'>
  <link rel='stylesheet' href='/css/styles.css'>
</head>
<nav>

</nav>
<body>
  <div class='container'>
    <%= yield %>
  </div>
</body>
</html>
